<link rel=stylesheet type=text/css href="{{ url_for('static', filename='mail/favorite.css') }}">
<p class='intro' style="text-align: center;vertical-align: middle;font-size: 23px;color: #B20000;">To my fellow brethren,</p>
<p class='subject' style="text-align: center;vertical-align: middle;font-size: 16px;color: #B20000;">
	  I call upon you all to help me acquire the Girdle of Hippolyta. The   Amazons will prove no match to us and will be defeated with ease. We   leave at the crack of dawn tonight.
</p>
<img class='girdle' style="display: block;margin: 0 auto;height: 200px;width: 200px;" src="http://mg1.duckdns.org/wiki/images/e/e0/HippolytaSSP.png"/>